* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #281111;
}

header {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

img {
    grid-row: 1;
    grid-column: 1;
    contain: fit;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}